<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1586&q=80);">
  <div class="container">
    <h1>COCKTAILEROO brings Cocktails to people.</h1>
    <p>Change your life, learn to drink.</p>
    <%= link_to "Create a new drink", new_cocktail_path, class: "btn btn-danger" %>
  </div>
</div>

<div class="container text-center pt-5 pb-3">
  <h2>YOUR COCKTAILS</h2>
</div>

<% @cocktails.each do |cocktail| %>

  <div class="container pt-3">
    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1550426735-c33c7ce414ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80" />
      <div class="card-product-infos">
        <h2><%= cocktail.name.upcase %></h2>
        <%= link_to "See Details", cocktail_path(cocktail) %>
      </div>
    </div>
  </div>
<% end %>

<div class="container py-5 text-center">
  <%= link_to "Create another drink", new_cocktail_path, class: "btn btn-danger" %>
</div>

</div>
