<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);">
  <div class="container text-center">
    <h1>CREATE A NEW COCKTAIL</h1>
  </div>
</div>


<div class="container pt-5 pb-3">
  <h2>SHOW US WHAT YOU GOT</h2>

  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-danger" %>
  <% end %>

  <%= link_to "Go back", cocktails_path, class: "btn btn-light my-5" %>

</div>
